* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    color: white;
}

body {
    background-image: url(pexels-hormel-media-970763\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 4.5em;
}

#counter {
    text-align: center;
    font-size: 4em;
    margin-top: 20px;
}

#increment-btn{
    display: block;
    margin: 20px auto;
    padding: 15px 30px;
    font-size: 2em;
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#save-btn{
    display: block;
    margin: 20px auto;
    padding: 15px 30px;
    font-size: 2em;
    background-color: darkgreen;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

p {
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
    font-weight: bold;
}